<form method="POST" action="/catalog/create">
    <label for="book-name">Book name:</label>
    <input type="text" id="book-name" name="name">
    <label for="book-author">Book author:</label>
    <input type="text" id="book-author" name="author">
    <input type="submit" value="Create book">
</form>